

body {
	width: 1000px;
	margin: auto;
} 사이즈가 안맞아 1000으로 수정,

#main10 {
	text-align: center;
	font-size: 55px;
	font-weight: bold;
}

.positioning {
	border: 1px solid black;
}

.main11 {
	position: relative;
}

#first {
	width: 1000px;
	height: 300px;
	margin-left: 1px;
	margin-top: 50px;
	border-bottom: none;
	background: rgba(196, 196, 196, 0.2);
}

#second {
	width: 800px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 50px;
	line-height: 40px;
	font-weight: bold;
}

.main12 {
	position: relative;
}

#third {
	border: 1px solid black;
	margin-left: 1px;
	border-top: none;
	width: 1000px;
	height: 800px;
}

#fourth {
	width: 800px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 50px;
	line-height: 40px;
	font-weight: bold;
}

#sixth {
	width: 800px;
	height: 200px;
	position: absolute;
	top: 700px;
	left: 50px;
	line-height: 40px;
	font-weight: bold;
}

.main14 {
	position: relative;
}

#seven {
	width: 850px;
	height: 400px;
	position: absolute;
	top: 800px;
	left: 50px;
	margin-top: -500px;
	line-height: 40px;
	font-weight: bold;
}

#main13 {
	margin-top: 50px;
	text-align: center;
}