main{
	width: 1100px;
	height: 100%;
	background-color: #E8E8E8;
	display: flex;
	flex-direction: column;
	align-items: center;
}
p{
	margin: 0;
	padding: 0;
}
.mar_b10{
	margin-bottom: 10px;
}
.btn_sty{
	background-color: yellow;
	border-radius: 5px;
	height: 30px;
	width: 50px;
	border: none;
}
.input_search{
	height: 25px;
	width: 300px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid gray;
}
.hashtag_box{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.hashtag_span_box{
	display: flex;
	align-items: center;
}
.hashtag_span{
	font-size: 20px;
	margin-left: 10px;
}
.hashtag_btn_box{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hashtag_btn{
	width: 100px;
	background-color: white;
	height: 40px;
	border-radius: 30px;
	border: 1px solid gray;
	font-size: 15px;
}
.content_main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.content_box1{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 20px;
}
.content_box2{
	width: 340px;
	height: 450px;
	background-color: #DEDEDE;
}
.img_box{
	width: 100%;
	height: 300px;
	background-color: #D4D4D4;
}
.img_sty{
	width: 100%;
	height: 300px;
}
.gray_font{
	font-size: 15px;
	color: #BEBEBE;
	margin-left: 5px;
}
.p_sty{
	margin: 15px 0;
	margin-left: 5px;
}


































