main{
	width: 1100px;
	height: 100%;
	background-color: #E8E8E8;
	display: flex;
	flex-direction: column;
	align-items: center;
}
p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
button{
	padding: 0;
	margin: 0;
	border-style: none;
}
.mar_b10{
	margin-bottom: 10px;
}
.btn_sty{
	background-color: yellow;
	border-radius: 5px;
	height: 30px;
	width: 50px;
	border: none;
}
.input_search{
	height: 25px;
	width: 300px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid gray;
}
.hashtag_box{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.hashtag_span_box{
	display: flex;
	align-items: center;
}
.hashtag_span{
	font-size: 20px;
	margin-left: 10px;
}
.hashtag_btn_box{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hashtag_btn{
	width: 100px;
	background-color: white;
	height: 40px;
	border-radius: 30px;
	border: 1px solid gray;
	font-size: 15px;
}
.content_main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.content_box1{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 20px;
}
.content_box2{
	width: 340px;
	height: 450px;
	background-color: #DEDEDE;
	cursor: pointer;
}
.img_box1{
	width: 100%;
	height: 300px;
	background-color: #D4D4D4;
}
.img_sty1{
	width: 100%;
	height: 300px;
}
.gray_font{
	font-size: 15px;
	color: #BEBEBE;
	margin-left: 5px;
}
.p_sty{
	margin: 15px 0;
	margin-left: 5px;
}

/* ---------------------- board_detail ---------------------- */
.body_detail{
	background: #F5F1ED;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: center;	
}
.main_detail{
	width: 950px;
	height: 500px;
	background-color: #E8E8E8;
	display: flex;
	flex-direction: row;
	position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.img_box2{
	width: 500px;
	height: 500px;
	background-color: #DEDEDE;
}
.content_detail{
	width: 450px;
	height: 500px;
	background-color: #DEDEDE;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img_sty2{
	width: 100%;
	height: 500px;
}
.write_date{
	display: flex;
/* 	flex-direction: row; */
	justify-content: flex-end;
	padding-right: 10px;
	font-size: 15px;
	color: gray;
/* 	border-bottom: 1px solid gray; */
}
.line{
	width: 400px;
	height: 1px;
	background-color: gray;
	border-radius: 20px;
	margin-left: 25px;
}
.comment_box{
	width: 100%;
	height: 332px;
}
.comment{
	width: 100%;
	height: 65px;
}
.comment_write{
	height: 67px;
	display: flex;
}
textarea{
	margin: 10px 0 0 10px;
	padding: 0;
	border-style: none;
	width: 400px;
	height: 57px;
	background-color: #DEDEDE;
	resize: none;
}
.write_btn{
	width: 40px;
	height: 67px;
	background-color: #DEDEDE;
	border-style: none;
	font-size: 15px;
	padding-right: 5px;
	color: #FBD70D;
}

/* ---------------------- donation/serve ---------------------- */

.big_img{
	width: 1100px;
	height: 300px;
	background-color: gray;
}
.sel_box{
	height: 30px;
	width: 100px;
	border-style: none;
	background-color: #FFA6FF;
}





























