.mypage_king{
		margin:50px;
	}

	.mypage_main{
		display: flex;
		flex-direction: row;
	}

	.mypage_box{
		display: flex;
		flex-direction: column;
		margin: 10px;
		margin-top: 10px;
		padding: 30px;
		width: 350px;
		height: 250px;
		background: white;
		border: 1px solid #ffd73c;
	}

	.mypage_box_title{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.mypage_box_content{
		display:flex;
		flex-direction: row;
		line-height:40px;
	}

	.mypage_box_bold{
		display:flex;
		flex-direction: column;
		margin-left:20px;
		margin-right:50px;
		font-weight: bold;
	}
	
	/* 봉사 예약 현황 마진*/
	.mypage_box_bold2{
		display:flex;
		flex-direction: column;
		margin-right:10px;
		font-weight: bold;
	}

	.mypage_box_light{
		display:flex;
		flex-direction: column;
		font-size: 12px;
		color:grey;
	}

	#mypage_box_content_name{
		font-weight:bold;
	}
	#mypage_box_content_pay{
		border: 1px solid grey;
		
	}




	/* 결제내역 */
	.mypage_main2{
		width: 100%;
		height: 100%;
		padding: 30px;
	}
	
	.mypage_box2{
		display:flex;
		flex-direction: row;
	}
	
	.mypage_mini{
		width:550px;
	}
	
	.mypage_img{
		width:150px;
		height:150px;
		margin-bottom:15px;
	}
	
	.mypage_mini_font1{ /* 작고 연함, 날짜/수량/금액 */
		font-size:13px;
		color: grey;
	}
	
	.mypage_mini_font2{ /* 크고 굵음, 굿즈명*/
		font-size:20px;
		font-weight: bold;
	}
	
	.mini_font_marginright{
		margin-right:50px;
	}
	
	.mini_font_marginbottom{
		margin-bottom:25px;
	}
	
	
	.mypage_btn_donation{
		width: 63px;
		height: 22px;
		border-radius:25px;
		border: none;
		background-color: #ffd73c;
		color: white;
	}
	
	/* 개인정보 수정 버튼 */
	.mypage_btn_my{
		width: 118px;
		height: 32px;
		border-radius: 26px;
		border: none;
		background-color :#ffd73c;
		color: white;
		font-size: 14px;
	}
	.mypage_btn_flex-end{
		display:flex;
		justify-content : flex-end;
		margin: 20px 40px 30px 0px;
	}
	
	#hr1{
		border: 1px double black;
	}
	#hr2{
		border:0.5px solid lightgrey;
	}
