body{
	background: #F5F1ED;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	width: 100%;
	height: 60px;
	background-color: yellow;
} 
main{
	width: 1100px;
	height: 100vh;
	background-color: gray;
}