body{
	background: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
} 
header{
	width: 100%;
	height: 60px;
	background-color: #ffd73c;
} 
main{
	width: 1100px;
	height: 100vh;
	background-color: gray;
}

.f10{font-size:10px;}