* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	width: 100%;
	display:flex;
    justify-content:space-between;
    background-color:white;
    height: 70px;
    border-bottom: 1px solid lightgrey;
}
main{
	width: 1100px;
	/* border: 1px solid black; */
}
/*--------------------- header -----------------------*/
.cate_logo{
      margin: 0 20px;
      font-size:45px;
      color:#ffd73c;
      
   }
   
   .cate_item{
      height: 60px;
      width: 100px;
      border-style: none;
      background-color: white;
      font-size:18px;
   }
   
   .cate_margin{
      margin:0px 200px;
   }
   
   .cate_toLogin, .cate_toMyPage{
      height: 60px;
      border-style: none;
      background-color: white;
      color:black;
      
      
   }
   
   .cate_toMyPage{
      margin:0px 20px;
   }

/*--------------------------------------------*/
.container{
	width: 100%;
	height: 300px;
	background: gray;
	margin-bottom: 10px;
}
.main-color {
	color: #ffd73c;
}

footer {
	border-top: 5px solid #ffd73c;
    width: 100%;
    height: 70vh;
	background: #fff;
	position: relative;
}

.footer-container {
	width: 1100px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 300px;
	height: 120px;
	border: 1px solid red;
}

.footer-nav {
	width: 700px;
	display: flex;

}

.footer-nav-wrap {
	width: 33%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.footer-nav-wrap a {
	padding: 10px 0;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: -2px;
}

.footer-nav-wrap a:hover {
	color: #000;
	text-decoration: underline;
}

.footer-content {
	height: 70%;
	display: flex;
	align-items: center;
}

.footer-content-info {
	margin: 10px 0;
	color: #888;
}

/* .footer-bottom {
	height: 40%;
} */

.point {
	font-size: 60px;
	margin: 0 10px;
}

.note-warning {
	font-size: 34px;
	letter-spacing: -2px;
}

.note-wrap {
	border: 1px solid red;
	height: 300px;
}

.note-title {
	border: 1px solid black;
}

.blur {
	color: #888;
}
