* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #FBF7F2;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	width: 100%;
	height: 70px;
	background-color: #f2f1f1;
	border: 1px solid black;
}
main{
	width: 1100px;
	background-color: #FBF7F2;
	/* border: 1px solid black; */
}

footer {
	border-top: 5px solid #ffd73c;
    width: 100%;
    height: 70vh;
	background: #fff;
	position: relative;
}

.footer-container {
	width: 1100px;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer-logo {
	width: 300px;
	height: 120px;
	border: 1px solid red;
}

.footer-content {
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content-info {
	margin: 10px 0;
	color: #888;
}

.footer-bottom {
	height: 40%;
}